html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Avenir", Helvetica, Arial, "system-ui", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  vertical-align: middle;
  word-break: normal;
}

header {
  height: 70px;
  font-style: italic;
  font-size: 40px;
  text-align: left;
  padding: 20px;
}

main {
  padding: 0 10px;
  width: calc(100% - 40px);
  height: 100%;
  white-space: pre; /* 自動改行しない*/
  overflow-x: auto;
}

.info-line {
  margin: 20px;
  font-size: 20px;
}

.list-index {
  display: flex;
}

.addlist {
  margin: 0 10px auto;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  min-width: 320px;
  width: 320px;
}

.text-input {
  padding: 10px 10px;
  width: calc(80% - 30px);

  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-family: "Noto Sans Japanese", "Noto Sans", "system-ui", sans-serif;
  font-weight: 700; /* フォントのサイズ */
  font-size: 24px;
  color: #242424;
  cursor: pointer;
  overflow: overlay;
  /* 水平方向に中央配置 */
  margin: 0 auto;
}

.text-input:focus {
  outline: 0;
  cursor: initial;
}

.add-button {
  margin-top: 15px;
  padding: 15px 18px;
  background-color: #999;
  border: none;
  border-radius: 8px;
  font-family: "Noto Sans Japanese", "Noto Sans", "system-ui", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
}

.add-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.active .text-input {
  background-color: yellow;
}
.addable .add-button {
  background-color: #00d78f;
  pointer-events: auto;
  cursor: pointer;
}

.add-button:active {
  background-color: #00d78f;
}

.list {
  margin: 0 5px auto;
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  min-width: 290px;
  width: 250px;
  background-color: whitesmoke; /*  リストの背景の色 */
  border-radius: 10px; /*  リストの背景の形 */
  padding: 15px; /*  リストの位置 */
  border: solid white 0px;
  color: black; /*  リスト名の色 */
  vertical-align: top;
}

.list-title {
  font-size: 30px; /* リスト名の大きさ */
  font-weight: bold; /* リスト名を太字にする */
  padding: 10px; /* リスト名の位置 */
  margin-top: 30px; /* リストタイトルの上からの距離 */
  word-wrap: break-word; /* 文字をはみ出さないように調整 */
  white-space: pre-line; /* 高さ方向に改行 */
}

.list-counter {
  color: rgb(0, 140, 255);
  padding: 40px; /* totalの位置*/
}

.deletelist {
  position: absolute;
  top: 6px;
  right: 14px;
  font-size: 28px;
}

.deletelist:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  padding: 30px 15px 40px;
  background-color: #fff;
  border-radius: 8px;
  width: 260px;
  cursor: pointer;
  border: solid 1px black;
  word-wrap: break-word; /* 文字をはみ出さないように調整 */
  white-space: pre-line; /* 高さ方向に改行 */
}

.close-button {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 8px;
  border-color: red;
  border-style: solid;
  background-color: red;
  color: white;
  margin: 5px;
}

/* ---------------------------- */
/* -------------認証------------ */
/* ---------------------------- */

/* サインアウト */
.signout-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

/* サインイン */
.signin-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 20%; /* 幅を20%に設定 */
  margin: 0 auto; /* 左右の余白を自動的に均等に設定 */
}

/* サインアップ */
.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.sign-form-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.sign-form-group {
  margin-top: 20px;
  text-align: left;
}

.sign-form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.sign-button {
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
}

.sign-message {
  width: 100%;
  font-size: 15px;
  margin-top: 20px;
}
